<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to '刪除', user, method: :delete, confirm: '確定刪除?' %>
  <% end %>
</li>