@import 'bootstrap';
/*
*= require_self
*= require_tree .
*/


.debug_dump {
  clear: both;
  max-width: 670px;
  margin-left: 15px;
  margin-right: 15px;
  border: thin white solid;
  border-radius: 5px;
  color: white;
  background-color: pink;
}

body {
  max-width: 670px;
  margin-top: 20px;
}

.center {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 670px;
}

.jumbotron {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  border-radius: 5px;
}

.breadcrumb {
  max-width: 670px;
  text-align: right;
  background-color: black;
  a {
  	&:hover {
  	  color: white;
  	}
  }
}

img {
  margin-top: 15px;
}

/* Typography */

h1, h2, h3, h4, h5, h6 { 
  line-height: 1;
}

h1 {
  font-size: 3em; 
  letter-spacing: -2px; 
  margin-bottom: 30px; 
  text-align: center;
}

h2 {
  font-size: 1.7em; 
  letter-spacing: -1px; 
  margin-bottom: 30px; 
  text-align: center; 
  font-weight: normal; 
  color: #999;
}

p {
  font-size: 1.1em; 
  line-height: 1.7em;
}

/* Header */

#logo {
	padding: 5px;
  float: left; 
  font-size: 1.7em;
  color: #fff; 
  text-transform: uppercase; 
  letter-spacing: -1px; 
  font-weight: bold; 
  line-height: 1;

  &:hover {
    text-decoration: none;
  }
}

/* Footer */

footer {
  margin-left: 15px;
  margin-right: 15px;
  max-width: 670px;
  border-radius: 5px;
  background-color: black;

  a {
    color: #222;
    &:hover {
    text-decoration: none;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* Side bar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid LightGray;

    &:last-child {
      border-bottom: 1px solid LightGray;
    }
  }
}


.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; 
}
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em; }
.apple_pagination .disabled {
  color: #aaaaaa; }
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.apple_pagination a {
  text-decoration: none;
  color: black; }
  .apple_pagination a:hover, 
  .apple_pagination a:focus {
    text-decoration: underline; 
}






